# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=db
host=postgres-service
DATABASE_URL=postgresql://postgres:example@postgres-service:5432/db


MY_HTTP_PROXY = http://
MY_HTTPS_PROXY = http://

# ASR_INFERENCE_SERVER
MODELS_BASE_DIR=models

# COLLECTOR with delimiter "__"
WORKSPACE_BASE_DIR=/var/tmp/chatzzk_collector

CELERY_BROKER_URL = "redis://localhost:6379/0"
CELERY_RESULT_BACKEND = "redis://localhost:6379/1"


CHZZK_API__CHANNEL_INFO_URL_TEMPLATE = https://
CHZZK_API__VOD_URL_TEMPLATE = https://
CHZZK_API__VOD_INFO_URL_TEMPLATE = https://
CHZZK_API__VOD_CHAT_URL_TEMPLATE = https://
CHZZK_API__CHANNEL_VODS_URL_TEMPLATE = https://
# CHZZK_COOKIES_FILE_PATH=chatzzk/services/collector/tmp.json
# USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36

ASR_MODEL_CONFIG__ASR_IMPLEMENTATION=http
ASR_MODEL_CONFIG__ASR_INFERENCE_SERVER_URL=http://localhost:8000

STORAGE_CONFIG__STORAGE_IMPLEMENTATION=minio
STORAGE_CONFIG__ENDPOINT=localhost:9000
STORAGE_CONFIG__ACCESS_KEY=admin
STORAGE_CONFIG__SECRET_KEY=adminadmin
STORAGE_CONFIG__BUCKET_NAME=chzzk
STORAGE_CONFIG__SECURE=FALSE


# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminadmin
