# Database
DATABASE_URL=postgresql://testuser:testpassword@localhost:5433/testdb

CELERY_BROKER_URL=memory://
CELERY_RESULT_BACKEND=rpc://

# Proxy
MY_HTTP_PROXY = http://
MY_HTTPS_PROXY = http://

# Storage (MinIO)
STORAGE_CONFIG__STORAGE_IMPLEMENTATION=minio
STORAGE_CONFIG__ENDPOINT=localhost:9001
STORAGE_CONFIG__ACCESS_KEY=testadmin
STORAGE_CONFIG__SECRET_KEY=testsecret
STORAGE_CONFIG__BUCKET_NAME=test-chzzk
STORAGE_CONFIG__SECURE=False

# ML Clients (테스트 시에는 Mocking 하거나 http 클라이언트를 사용)
ASR_MODEL_CONFIG__ASR_IMPLEMENTATION=http
ASR_MODEL_CONFIG__ASR_INFERENCE_SERVER_URL=http://localhost:8000

# ASR_INFERENCE_SERVER
MODELS_BASE_DIR=/app/models

# COLLECTOR with delimiter "__"
WORKSPACE_BASE_DIR=/var/tmp/chatzzk_collector

CHZZK_API__CHANNEL_INFO_URL_TEMPLATE=https://
CHZZK_API__VOD_URL_TEMPLATE=https://
CHZZK_API__VOD_INFO_URL_TEMPLATE=https://
CHZZK_API__VOD_CHAT_URL_TEMPLATE=https://
CHZZK_API__CHANNEL_VODS_URL_TEMPLATE=https://
# CHZZK_COOKIES_FILE_PATH=chatzzk/services/collector/tmp.json
# USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36

# Minio
MINIO_ROOT_USER=testadmin
MINIO_ROOT_PASSWORD=testsecret
