CHZZK_VOD_URL_TEMPLATE = https://apis
CHZZK_VOD_INFO_URL_TEMPLATE = https://api
CHZZK_VOD_CHAT_URL_TEMPLATE = https://api

USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36
