annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2025.8.3 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.3 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
ffmpeg-python==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
future==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
greenlet==3.2.4 ; python_version >= "3.11" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
loguru==0.7.3 ; python_version >= "3.11" and python_version < "4.0"
orjson==3.11.2 ; python_version >= "3.11" and python_version < "4.0"
pathlib==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_version < "4.0"
pydantic-settings==2.10.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.11.7 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.11" and python_version < "4.0"
sqlalchemy==2.0.43 ; python_version >= "3.11" and python_version < "4.0"
tenacity==9.1.2 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.2.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
