DATA_ACCESS__DB__DATABASE_URL=postgresql+asyncpg://test_user
DATA_ACCESS__DB__POOL_SIZE=5
DATA_ACCESS__DB__MAX_OVERFLOW=10

DATA_ACCESS__TMP_STORAGE_BASE_DIR=samples

CLIENTS__VAD__IMPLEMENTATION=silero_vad

CLIENTS__ASR__IMPLEMENTATION=http
CLIENTS__ASR__ASR_INFERENCE_SERVER_URL=http://localhost:8000

CLIENTS__CHZZK_API__PROXY=http://

CLIENTS__LLM_CLIENT__BASE_URL=http://localhost:4000
CLIENTS__LLM_CLIENT__API_KEY=sk-1234
CLIENTS__LLM_CLIENT__MAX_RETRIES=3

CLIENTS__PROMPT_MANAGER__SECRET_KEY=sk-lf-
CLIENTS__PROMPT_MANAGER__PUBLIC_KEY=pk-lf-
CLIENTS__PROMPT_MANAGER__BASE_URL=https://cloud.langfuse.com
