DATA_ACCESS__DB__DB_IMPLEMENTATION=postgres
DATA_ACCESS__DB__DATABASE_URL=postgresql+asyncpg://
DATA_ACCESS__TMP_STORAGE__BASE_DIR=samples

CLIENTS__VAD__VAD_IMPLEMENTATION=silero_vad

CLIENTS__ASR__ASR_IMPLEMENTATION=http
CLIENTS__ASR__ASR_INFERENCE_SERVER_URL=http://

CLIENTS__CHZZK_API__PROXY=http://
